<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h1 class="page-header">Angular Annyang</h1>

    <!-- No results -->
    <div ng-hide="ctrl.results.length > 0">
      <ol>
        <li>Click allow ^</li>
        <li>Wait for the red light on this Chrome tab</li>
        <li>Say some short phrases</li>
      </ol>

      <p class="help-block">
        <i>Tip: more output in the console.</i>
      </p>

    </div>

    <!-- Has results -->
    <div ng-show="ctrl.results.length > 0">
      <button class="btn btn-default" ng-click="ctrl.clearResults()">Clear</button>

      <hr/>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="result in ctrl.results">
          <span class="badge">{{ result.date | date : 'EEE MMM, yyyy hh:mm:ss a' }}</span>
          {{ result.content }}
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
